body {
    padding-top: 90px;
    background color: #cbefee;
}

.title {
    text-align: center;
}

.formboard {
    text-align: center;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin: 25px;

}

.panel-login {
    text-align: center;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin: 25px;
    height: 250px;
}

.button-box {
  text-align:center;
  margin-top:20px;
 }