{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumbs %}
    {{ block.super }}
    <a class ="breadcrumb-item" href="{% url 'companies_list' %}">Companies</a>
    <a class="breadcrumb-item" href="{{ company.get_absolute_url }}">{{ company.name }}</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form">
            <div class="row">
                <div class="col">

                    <h2>
                        <span class="badge badge-secondary">{{ company.name }}</span>
                    </h2>
                    <p>
                        {{ company.country }}</p>
                    <p>{{ company.founded }}</p>
                </div>
                <div class="col">
                    {% if company.logo %}
                        <img src="{{ company.logo.url }}" width="250" height="250">
                    {% else %}
                        <img class="img-responsive img-thumbnail" src="{% static 'images/logo_not_found.png' %}">
                    {% endif %}

                </div>
            </div>
            <br>
            <p>{{ company.description }}</p>
        </div>

        <a href="{% url 'add_comment' company.id %}" class="btn btn-lg btn-info btn-block" role="button">Add Comment</a>


        <div class="container">

            {% for comment in company.comment_set.all %}

                <div class="jumbotron comment">
                    <div class="row text-center card-header">
                        <div class="col">
                            <a>Title: {{ comment.title }}</a>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col text-left">
                            <a class="secondary">User: {{ comment.user }}</a>
                        </div>
                        <div class="col text-right">
                            <a class="secondary">Date: {{ comment.pub_date }}</a>
                        </div>
                    </div>
                    <div class="row well well-lg">
                        <a>{{ comment.content }}</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    <div class="container">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
  <div class="card-block">
    <h3 class="card-title">Card Title</h3>
      <div class="card card-inverse" style="background-color:skyblue;">
    <p class="card-text">This text will be written on a grey background inside a Card.</p>
      </div>
  </div>
</div>
    </div>

    </div>

{% endblock %}