{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    <a class ="breadcrumb-item" href="{% url 'companies_list' %}">Companies</a>
    <a class="breadcrumb-item" href="{{ company.get_absolute_url }}">{{ company.name }}</a>
    <a class="breadcrumb-item">Edit</a>
{% endblock %}

{% block content %}

    <section>
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                Edit Company
            </div>
            <div class="card-body">
              <form method="post" class="post_method">
                    {% csrf_token %}
                  <div class="form-group">
                                <label>Company Name</label>
                                {% render_field form.name class="form-control" %}
                            </div>
                            <div class="form-group">
                                <label>Company Country</label>
                                {% render_field form.country class="form-control" %}
                            </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                        <label>Founded</label>
                        {% render_field form.founded class="form-control" %}
                    </div>
                    <div class="col-md-6">
                        <label>Logo</label>
                        {% render_field form.logo class="form-control" %}
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                                <label>Company description</label>
                                {% render_field form.description class="form-control" %}
                        </div>
                    </div>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Apply Changes</button>
                </form>
            </div>

        </div>
    </div>
    </section>




{% endblock %}

