{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <div class="title">
      <div class="row">
        <div class="col">

          <h2>
            <span class="badge badge-secondary">{{ company.name }}</span>
          </h2>
          <p>
            {{ company.country }}</p>
          <p>{{ company.founded }}</p>
        </div>
        <div class="col">
          {% if company.logo %}
            <img src="{{ company.logo.url }}" width="250" height="250">
          {% else %}
            <p><img class="img-responsive img-thumbnail" src="{% static 'images/logo_not_found.png' %}"></p>
          {% endif %}

        </div>
      </div>
      <p>{{ company.description }}</p>
    </div>
  </div>

{% endblock %}