{% extends "base.html"%}

{% block breadcrumbs %}
    {{ block.super }}
    <a class ="breadcrumb-item" href="{% url 'companies_list' %}">Companies</a>
    <a class="breadcrumb-item" href="{{ company.get_absolute_url }}">{{ company.name }}</a>
    <a class="breadcrumb-item"> Delete </a>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<div class="form">
    <div class="title">
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ company.name }}"?</p>
            <input type="submit" value="Confirm"/>
        </form>
    </div>
</div>

{% endblock%}