

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container">
  <div class="alert alert-primary" role="alert">
    <div class="title">
      You have to be logged, to access the page
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="panel-login">
        <h2 class="title">
          <span class="badge badge-secondary">Login</span>
        </h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="title">
            <button type="submit">Login</button>
          </div>
      </div>
      </form>
    </div>
    <div class="col">
      <div class="panel-login">
        <h2 class="title">
          <span class="badge badge-secondary">Register</span>
        </h2>
        <br>
        <div class="title">
          Not a member yet?<br>
        </div>
        <br>
        <br>
        <div class="title">
          <form action={% url "signup" %}>
            <button type="submit">Signup</button>
        </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
