{% extends 'base_login.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h3>Forgot password</h3>
        <p>
            Forget Your password? don't worry. Type email address connected to Your account,
            and we will guide You through the process:
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}