{% extends 'base.html' %}

{% block content %}
  <div class="container">
  <div class="formboard">
  <h2>
    <span class="badge badge-secondary">Signup:</span>
  </h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Registration</button>
  </form>
{% endblock %}
