{% extends "base.html" %}

{% block content %}
  <div class=container>
    <div class="row">
      <div class="col">
        <div class="alert alert-primary" role="alert">
          Username
        </div>
      </div>
      <div class="col">
        <div class="alert alert-primary" role="alert">
          Email Address
        </div>
      </div>
      <div class="col">
        <div class="alert alert-primary" role="alert">
          ID number
        </div>
      </div>
    </div>
    <br>
    {% for user in users %}
      <div class="row">
        <div class="col">
          {{ user.username }}<br>
        </div>
        <div class="col">
          {{ user.email }}<br>
        </div>
        <div class="col">
          {{ user.id }}<br>
        </div>
      </div>

    {% endfor %}
  </div>

{% endblock %}