{% extends "base.html"%}

{% block breadcrumbs %}
    {{ block.super }}
    <a class ="breadcrumb-item" href="{% url 'users_list' %}">Users</a>
    <a class="breadcrumb-item" href="{{ user.get_absolute_url }}">{{ user.username }} / Delete</a>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<div class="form">
    <div class="title">
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ user.username }}"?</p>
            <input type="submit" value="Confirm"/>
        </form>
    </div>
</div>

{% endblock%}