{% load staticfiles %}
<!-- comment tab -->


<div class="tab-pane" id="comments" role="tabpanel">
    
    <form class="comment-form" method="get">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-form-label" for="formGroupExampleInput">Title</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title" name="title">
        </div>
        <div class="form-group">
            <label class="col-form-label" for="formGroupExampleInput2">Comment</label>
            <textarea rows="5" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Type your coment here ..." name="comm"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit comment">
    </form>
    
                {% for comment in company.comment_set.all %}

                <div class="jumbotron comment">
                    <div class="row text-center card-header">
                        <div class="col">
                            <a>Title: {{ comment.title }}</a>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col text-left">
                            <a class="secondary">User: {{ comment.user }}</a>
                        </div>
                        <div class="col text-right">
                            <a class="secondary">Date: {{ comment.pub_date }}</a>
                        </div>
                    </div>
                    <div class="row well well-lg">
                        <a>{{ comment.content }}</a>
                    </div>
                </div>
            {% endfor %}
</div>
